.card-five {
    --main-color: #000;
    --bg-color: #EBD18D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 260px;
    height: 170px;
    padding: 25px;
    background: var(--bg-color);
    border-radius: 15px;
  }
  
  .card-five__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-five___wrapper-acounts {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    cursor: pointer;
  }
  
  .card-five___wrapper-acounts > div:nth-child(2) {
    position: absolute;
    left: 25px;
    z-index: -1;
  }
  
  .card-five___wrapper-acounts > div:nth-child(3) {
    position: absolute;
    left: 50px;
    z-index: -2;
  }
  
  .card-five__score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--main-color);
  }
  
  .card-five__acounts {
    width: 42px;
    height: 42px;
  }
  
  .card-five__acounts svg {
    width: 100%;
    height: 100%;
  }
  
  .card-five__menu {
    width: 40px;
    height: 40px;
    background: #F6DB96;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .card-five__title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
    color: var(--main-color);
  }
  
  .card-five__subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    color: var(--main-color);
  }
  
  .card-five__indicator {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: var(--main-color);
  }
  
  .progress {
    backdrop-filter: invert(80%);
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 8px;
    width: 100%;
  }
  
  .progress-done {
    backdrop-filter: invert(80%);
    background: #641414;
    border-radius: 20px;
    color: #c22d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
  }
  
  