.card-six-card {
    width: 230px;
    height: 320px;
    background: #F4F6FB;
    border: 1px solid white;
    border-radius: 15px
  }
  
  .card-six-form {
    padding: 25px;
  }
  
  .card-six-card_header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .card-six-card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  
  .card-six-form_heading {
    padding-bottom: 20px;
    font-size: 28px;
    color: #7878bd;
  }
  
  .card-six-field {
    padding-bottom: 10px;
  }
  
  .card-six-input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  .card-six-input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  .card-six-input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  .card-six-button {
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 6px;
  }
  
  .card-six-button:hover {
    background-color: #5f5f9c;
  }