.card-four-container {
    width: 230px;
    height: 180px;
    background: #171717;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.outputTitle{
  font-size: 28px;
}

.outputText{
  padding-top: 10px;
  font-style: italic;
  letter-spacing: 0.6px;
}

.outputAuthor{
  display: flex;
  justify-content: right;
}
  